<%- include('./../partials/header.ejs') %>
<form method="POST">
  <p>
    <label>Username</label>
    <input type="text" name="username" value="">
  </p>
</form>
<%- include('./../partials/footer.ejs') %>
