<%- include('./../partials/header.ejs') %>
<form method="POST">
  <p>
      <label>Nom</label>
      <input type="text" name="name" value="">
  </p>
  <p>
      <label>Organization Github</label>
      <input type="url" name="github_organization" value="">
  </p>
  <p>
      <button type="submit">Valider</button>
  </p>
</form>
<%- include('./../partials/footer.ejs') %>
